.button:hover {
    -fx-cursor: hand;
}
.bar:hover {
    -fx-cursor: open_hand;
}

.nav {
    -fx-text-fill: whitesmoke;
}
.nav:hover {
    -fx-text-fill: grey;
}

.close, .min, .notActive, .max {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
}
.close:hover {
    -fx-background-color: red;
}
.max:hover {
    -fx-background-color: blue;
}
.min:hover {
    -fx-background-color: #4a4a4a;
}

.active {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-border-color:  whitesmoke;
}
.notActive {
    -fx-text-fill: black;
}
.active, .notActive {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-label-padding: 2px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to top, maroon, red);
    -fx-text-fill: whitesmoke;
}

.table-view .cell:odd {
    -fx-background-color: red;
}

.table-view .cell:even {
    -fx-background-color: salmon;
}